@font-face {
  font-family: swiper-icons;
  font-style: normal;
  font-weight: 400;
  src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
}
button,
input[type='submit'] {
  cursor: pointer;
  transition: opacity 0.25s ease;
}
button:disabled,
input[type='submit']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
button:focus {
  outline: none;
}
input::-moz-placeholder {
  color: #bdbdbd;
}

input:-ms-input-placeholder {
  color: #bdbdbd;
}

input::placeholder {
  color: #bdbdbd;
}

select:required:invalid,
select option[value=''] {
  color: #bdbdbd;
}

.appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.border-t {
  border-top-width: 1px;
}
.cursor-pointer {
  cursor: pointer;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-bold {
  font-weight: 700;
}
.h-3 {
  height: 0.75rem;
}
.h-6 {
  height: 1.5rem;
}
.h-7 {
  height: 1.75rem;
}
.h-8 {
  height: 2rem;
}
.h-10 {
  height: 2.5rem;
}
.h-px {
  height: 1px;
}
.h-full {
  height: 100%;
}
.text-xs {
  font-size: 0.75rem;
}
.text-sm {
  font-size: 0.875rem;
}
.text-base {
  font-size: 1rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-2xl {
  font-size: 1.5rem;
}
.text-xxs {
  font-size: 0.625rem;
}
.leading-none {
  line-height: 1;
}
.list-alpha {
  list-style-type: lower-alpha;
}
.content-box {
  box-sizing: content-box;
}
.m-2 {
  margin: 0.5rem;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.my-5 {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}
.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.my-auto {
  margin-bottom: auto;
  margin-top: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.-mx-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mr-4 {
  margin-right: 1rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.ml-4 {
  margin-left: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mr-5 {
  margin-right: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mr-6 {
  margin-right: 1.5rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mt-15 {
  margin-top: 3.75rem;
}
.mt-auto {
  margin-top: auto;
}
.-ml-2 {
  margin-left: -0.5rem;
}
.ml-6 {
  margin-left: 1.5rem;
}
.-mt-1\/2 {
  margin-top: -0.5rem;
}
.-mt-9 {
  margin-top: -2.25rem;
}
.max-w-xs {
  max-width: 20rem;
}
.max-w-sm {
  max-width: 24rem;
}
.max-w-full {
  max-width: 100%;
}
.max-w-screen-md {
  max-width: 768px;
}
.min-h-full {
  min-height: 100%;
}
.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}
.hover\:opacity-80:hover {
  opacity: 0.8;
}
.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.py-2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-3 {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-4 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.py-14 {
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pr-3 {
  padding-right: 0.75rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pr-4 {
  padding-right: 1rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pt-8 {
  padding-top: 2rem;
}
.pb-12 {
  padding-bottom: 3rem;
}
.pr-inherit {
  padding-right: inherit;
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.inset-0 {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.top-auto {
  top: auto;
}
.left-1\/2 {
  left: 50%;
}
.resize {
  resize: both;
}
.fill-current {
  fill: currentColor;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}
.text-magenta {
  color: #e6127d;
  color: rgba(230, 18, 125, var(--text-opacity));
}
.text-cyan2 {
  color: #00c1d5;
  color: rgba(0, 193, 213, var(--text-opacity));
}
.text-gray-300 {
  color: #e0e0e0;
  color: rgba(224, 224, 224, var(--text-opacity));
}
.text-gray-500 {
  color: #ababab;
  color: rgba(171, 171, 171, var(--text-opacity));
}
.text-gray-800 {
  color: #424242;
  color: rgba(66, 66, 66, var(--text-opacity));
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.hover\:underline:hover,
.underline {
  text-decoration: underline;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.w-4 {
  width: 1rem;
}
.w-6 {
  width: 1.5rem;
}
.w-10 {
  width: 2.5rem;
}
.w-12 {
  width: 3rem;
}
.w-32 {
  width: 8rem;
}
.w-auto {
  width: auto;
}
.w-1\/2 {
  width: 50%;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-2\/5 {
  width: 40%;
}
.w-full {
  width: 100%;
}
.z-5 {
  z-index: 5;
}
.z-10 {
  z-index: 10;
}
.z-50 {
  z-index: 50;
}
@-webkit-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@-webkit-keyframes fadeout {
  to {
    scale: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  to {
    scale: 0;
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
@-webkit-keyframes ping {
  75%,
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes ping {
  75%,
  to {
    opacity: 0;
    transform: scale(2);
  }
}
@-webkit-keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes bounce {
  0%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    transform: translateY(-25%);
  }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transform: none;
  }
}
@keyframes bounce {
  0%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    transform: translateY(-25%);
  }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transform: none;
  }
}
.-translate-xy-1\/2 {
  transform: translate(-50%, -50%);
}
.aspect-ratio-square {
  padding-top: 100%;
}
.aspect-ratio-3\/2 {
  aspect-ratio: 3/2;
}
.aspect-ratio-4\/3 {
  aspect-ratio: 4/3;
}
.aspect-ratio-5\/4 {
  aspect-ratio: 5/4;
}
.text-shadow-3 {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.text-shadow-5 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.text-shadow-10 {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.box-shadow-5 {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}
.box-shadow-10 {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
.box-shadow-none {
  box-shadow: none;
}
[hidden] {
  display: none !important;
}
@media (min-width: 640px) {
  .sm\:h-8 {
    height: 2rem;
  }
  .sm\:text-sm {
    font-size: 0.875rem;
  }
  .sm\:text-base {
    font-size: 1rem;
  }
  .sm\:text-lg {
    font-size: 1.125rem;
  }
  .sm\:text-3xl {
    font-size: 1.75rem;
  }
  .sm\:m-3 {
    margin: 0.75rem;
  }
  .sm\:-mx-3 {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  .sm\:mt-8 {
    margin-top: 2rem;
  }
  .sm\:max-w-sm {
    max-width: 24rem;
  }
  .sm\:p-4 {
    padding: 1rem;
  }
  .sm\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sm\:w-1\/2 {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:flex-col {
    flex-direction: column;
  }
  .md\:justify-center {
    justify-content: center;
  }
  .md\:h-4 {
    height: 1rem;
  }
  .md\:h-10 {
    height: 2.5rem;
  }
  .md\:h-12 {
    height: 3rem;
  }
  .md\:h-15 {
    height: 3.75rem;
  }
  .md\:h-16 {
    height: 4rem;
  }
  .md\:text-xs {
    font-size: 0.75rem;
  }
  .md\:text-sm {
    font-size: 0.875rem;
  }
  .md\:text-base {
    font-size: 1rem;
  }
  .md\:text-xl {
    font-size: 1.25rem;
  }
  .md\:text-2xl {
    font-size: 1.5rem;
  }
  .md\:text-4xl {
    font-size: 2.25rem;
  }
  .md\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .md\:my-10 {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }
  .md\:mb-0 {
    margin-bottom: 0;
  }
  .md\:ml-2 {
    margin-left: 0.5rem;
  }
  .md\:mr-4 {
    margin-right: 1rem;
  }
  .md\:mb-5 {
    margin-bottom: 1.25rem;
  }
  .md\:mb-6 {
    margin-bottom: 1.5rem;
  }
  .md\:mr-8 {
    margin-right: 2rem;
  }
  .md\:mb-8 {
    margin-bottom: 2rem;
  }
  .md\:mr-12 {
    margin-right: 3rem;
  }
  .md\:mt-20 {
    margin-top: 5rem;
  }
  .md\:-mt-11 {
    margin-top: -2.75rem;
  }
  .md\:max-w-none {
    max-width: none;
  }
  .md\:max-w-lg {
    max-width: 32rem;
  }
  .md\:max-w-xl {
    max-width: 36rem;
  }
  .md\:max-w-screen-md {
    max-width: 768px;
  }
  .md\:py-0 {
    padding-bottom: 0;
    padding-top: 0;
  }
  .md\:py-3 {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }
  .md\:py-5 {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
  }
  .md\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .md\:py-9 {
    padding-bottom: 2.25rem;
    padding-top: 2.25rem;
  }
  .md\:py-10 {
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
  }
  .md\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .md\:pr-4 {
    padding-right: 1rem;
  }
  .md\:pt-6 {
    padding-top: 1.5rem;
  }
  .md\:pr-6 {
    padding-right: 1.5rem;
  }
  .md\:pl-8 {
    padding-left: 2rem;
  }
  .md\:pt-9 {
    padding-top: 2.25rem;
  }
  .md\:pb-9 {
    padding-bottom: 2.25rem;
  }
  .md\:pb-16 {
    padding-bottom: 4rem;
  }
  .md\:w-15 {
    width: 3.75rem;
  }
  .md\:w-16 {
    width: 4rem;
  }
  .md\:w-40 {
    width: 10rem;
  }
  .md\:w-auto {
    width: auto;
  }
  .md\:w-2\/3 {
    width: 66.666667%;
  }
}
@media (min-width: 1024px) {
  .lg\:block {
    display: block;
  }
  .lg\:inline-block {
    display: inline-block;
  }
  .lg\:hidden {
    display: none;
  }
  .lg\:float-right {
    float: right;
  }
  .lg\:text-lg {
    font-size: 1.125rem;
  }
  .lg\:text-xl {
    font-size: 1.25rem;
  }
  .lg\:my-0 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .lg\:mr-0 {
    margin-right: 0;
  }
  .lg\:mb-0 {
    margin-bottom: 0;
  }
  .lg\:mr-3 {
    margin-right: 0.75rem;
  }
  .lg\:mb-5 {
    margin-bottom: 1.25rem;
  }
  .lg\:max-w-none {
    max-width: none;
  }
  .lg\:max-w-sm {
    max-width: 24rem;
  }
  .lg\:max-w-screen-lg {
    max-width: 1024px;
  }
  .lg\:py-12 {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .lg\:pb-0 {
    padding-bottom: 0;
  }
  .lg\:pt-1 {
    padding-top: 0.25rem;
  }
  .lg\:pt-12 {
    padding-top: 3rem;
  }
  .lg\:pb-20 {
    padding-bottom: 5rem;
  }
  .lg\:absolute {
    position: absolute;
  }
  .lg\:right-0 {
    right: 0;
  }
  .lg\:bottom-0 {
    bottom: 0;
  }
  .lg\:text-left {
    text-align: left;
  }
  .lg\:w-1\/3 {
    width: 33.333333%;
  }
  .lg\:w-full {
    width: 100%;
  }
  .lg\:z-20 {
    z-index: 20;
  }
}
@media (min-width: 1280px) {
  .xl\:h-4 {
    height: 1rem;
  }
  .xl\:h-8 {
    height: 2rem;
  }
  .xl\:h-12 {
    height: 3rem;
  }
  .xl\:h-14 {
    height: 3.5rem;
  }
  .xl\:h-auto {
    height: auto;
  }
  .xl\:text-lg {
    font-size: 1.125rem;
  }
  .xl\:text-xl {
    font-size: 1.25rem;
  }
  .xl\:text-3xl {
    font-size: 1.75rem;
  }
  .xl\:text-5xl {
    font-size: 3rem;
  }
  .xl\:text-6xl {
    font-size: 3.25rem;
  }
  .xl\:mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }
  .xl\:mr-4 {
    margin-right: 1rem;
  }
  .xl\:mr-5 {
    margin-right: 1.25rem;
  }
  .xl\:mb-8 {
    margin-bottom: 2rem;
  }
  .xl\:mr-10 {
    margin-right: 2.5rem;
  }
  .xl\:ml-10 {
    margin-left: 2.5rem;
  }
  .xl\:mb-10 {
    margin-bottom: 2.5rem;
  }
  .xl\:mr-20 {
    margin-right: 5rem;
  }
  .xl\:mt-24 {
    margin-top: 6rem;
  }
  .xl\:max-w-none {
    max-width: none;
  }
  .xl\:py-3 {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }
  .xl\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .xl\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .xl\:pr-5 {
    padding-right: 1.25rem;
  }
  .xl\:pr-8 {
    padding-right: 2rem;
  }
  .xl\:w-6 {
    width: 1.5rem;
  }
  .xl\:w-1\/4 {
    width: 25%;
  }
}
